<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occurred! Please try after sometime!!</h1>
    <p>We are trying to fix it and currently working on it.</p>

<%- include('includes/end.ejs') %>